@font-face {
  font-family: 'Neutra Text';
  src: url('../assets/fonts/NeutraText-Bold.woff2') format('woff2'),
    url('../assets/fonts/NeutraText-Bold.woff') format('woff'),
    url('../assets/fonts/NeutraText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.body {
  background: linear-gradient(180deg, rgba(247,203,140,1) 0%, rgba(247,203,140,1) 49%, rgba(149,72,110,1) 100%);
  height: 300vh;
}

section.welcome {
  font-size: 1rem;
  margin: 1.5rem;
  text-align: center;
}

section.welcome .event-organizer {
  margin-bottom: 0;
}
section.welcome .event-name {
  margin: 0;
}

.logo {
  -webkit-text-stroke: 3px black;
  align-items: flex-end;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-family: 'Neutra Text';
  font-size: 10rem;
  font-weight: bold; font-style: normal;
  height: 20rem;
  line-height: 30rem;
  padding-right: 2.4rem;
  position: relative;
  vertical-align: top;
  text-align: right;
  text-shadow: 0px 5px 0 #000;
  width: 20rem;
}

.logo-gradient {
  background: rgba(93,47,82,1);
  background: linear-gradient(to bottom, rgba(93,47,82,1) 0%, rgba(93,47,82,1) 40%, rgba(212,109,86,1) 100%);
}

.logo .lemon {
  font-size: 8rem;
  left: 1.2rem;
  position: absolute;
  top: -6.5rem;
}

.cta {
  text-align: center;
}

.cta-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #cc9f52;
}
.cta-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color:#fb9e25;
}
.cta-button:active {
  position:relative;
  top:1px;
}

.schedule {
  color: white;
  letter-spacing: 0.1rem;
  margin: 0 auto;
  text-shadow: 0px 1px 0 #000;
  width: 40rem;
}

@media (max-width: 768px) {
  .schedule {
    width: 100%;
  }
}

.schedule .schedule-title {
  -webkit-text-stroke: 2px black;
  font-size: 3rem;
  text-align: center
}

.schedule .item {
  background: #D46E56;
  margin-bottom: 2rem;
  min-height: 10rem;
  transition: background-position 5s ease-in-out;
  -webkit-filter: contrast(110%) brightness(110%) saturate(130%);
  filter: contrast(110%) brightness(110%) saturate(130%);
}

.schedule .item:nth-child(even) {
  text-align: right;
}

.schedule .talk-info {
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  width: 70%;
}

.schedule .talk-title {
  -webkit-text-stroke: 2px black;
  font-size: 3rem;
  margin-bottom: 0;
}

.schedule .speaker-photo {
  display: inline-block;
  height: 15.25rem;
  vertical-align: top;
  width: 30%;
}

.schedule .networking {
  background: url(../assets/images/welcome.png) no-repeat center fixed;
  background-size: cover;
}

.schedule .networking:hover {
  background-position: bottom;
}

.schedule .talk {
  background: rgba(93,47,82,1);
  background: linear-gradient(to bottom, rgba(93,47,82,1) 0%, rgba(93,47,82,1) 40%, rgba(212,109,86,1) 100%) top;
}

.schedule .talk:hover {
  background-position: center;
}

.schedule .talk .speaker-social {
  -webkit-text-stroke: 1px black;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0;
  text-decoration: none;
}

.schedule .interlude-1 {
  background: url(//pbs.twimg.com/profile_banners/3338088405/1449524170/1500x500) no-repeat left;
  background-size: cover;
}

.schedule .interlude-1:hover {
  background-position: right;
}

.schedule .interlude-2 {
  background: url(//www.socorroespacio.com/wp-content/uploads/2016/12/2016_08_torres-nunezdelprado_open_03_072dpi_web.jpg) no-repeat center;
  background-size: cover;
}

.schedule .interlude-2:hover {
  background-position: bottom;
}

.schedule .interlude-3 {
  background: url(//pbs.twimg.com/profile_banners/463017317/1538089080/1500x500) no-repeat top fixed;
  background-size: cover;
}

.schedule .interlude-3:hover {
  background-position: bottom;
}
